/* Fonts */

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* Variables */
/* можно пока не пользоваться */
:root {
  --basic-black: #000000;
  --footer-background-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --background-grey-light: #E5E5E5;
  --special-green: #91C92F;
  --background-input-form: #F2F2F2;
  --background-input-form-hover: #EAEAEA;
  --filter-title-grey: #DCDCDC;
  --filter-range: #C4C4C4;
  --pagination-grey: #EBEBEB;
  --pagination-button: #D9D9D9;
  --shadow: rgba(0, 0, 0, 0.15);
  --shadow-opacity-18: rgba(0, 0, 0, 0.18);
  --button-text-opacity-3: rgba(0, 0, 0, 0.3);
  --button-text-opacity-4: rgba(0, 0, 0, 0.4);
  --buttons-yellow-dark: #F0C52E;
  --svg-navigation-icons: #FFC600;
  --background-yellow: #F7E296;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 800;
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
  min-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* то, что выше, не трогай */

/* размечай блоки так */
/* Intro */
.intro {
  background-color: green;
}

/* Catalog */
.catalog {
  background-color: pink;
}
