/* Variables */

:root {
  --white: #ffffff;
  --black: #000000;
  --night-rider: #323232;
  --zambezi: #5a5a5a;
  --padua: #849d8f;
  --floral-white: #f8f7f4;
  --nobel: #999999;
  --almond-frost: #9d8b84;
  --brown-bramble: #58321f;
  --whisper: #ededed;
  --mandys-pink: #ffbc9e;
  --cinnabar: #e84d37;
  --lily-white: #ecf1ee;
  --japonica: #d07058;
  --dark-grey: #ababab;
  --night-shadz: #aa2a4f;
  }

  /* Global */

  .page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--padua);
    background-image: url("../img/slider-1.png");
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }

  img {
   max-width: 100%;
   height: auto;
  }

  /* Main navigation */

  .header__nav {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
    background-color: transparent;
  }

  .header__logo {
    width: 154px;
    height: 64px;
    margin-right: 9px;
  }

  .header__left {
    color: var(--white);
  }

  .header__left-list {
    list-style: none;
  }

   /* Offers */

   .offers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 34px;
    font-size: 18px;
   }

   .banner {
     padding: 20px;
     width: 560px;
     min-height: 229px;
     border-radius: 14px;
   }

   .offers__title {
    margin-top: -4px;
