/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-light-black: #323232;
  --basic-neutral: #5a5a5a;
  --basic: #849d8f;
  --basic: #f8f7f4;
  --basic: #999;
  --basic: #9d8b84;

  --special: #ededed;
  --special: #ffbc9e;
  --special: #e84d37;
  --special: #ecf1ee;
  --special: #d07058;
  --basic-black: #000000;
  --special: #ababab;
  }

  /* Global */

  .page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: #849d8f;
    background-image: url("../img/slider-1.png");
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }

  img {
   max-width: 100%;
   height: auto;
  }

  /* Main navigation */

  .header__logo {
    width: 154px;
    height: 64px;
    margin-right: 9px;
  }

  /* Offers */

  .offers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 34px;
    font-size: 18px;
  }

  .offers__list {
    list-style: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .article__container {
    padding: 20px;
    width: 560px;
    min-height: 229px;
    border-radius: 14px;
  }

  .offer-card__title {
    margin-top: -4px;
    margin-bottom: -3px;
    font-size: 35px;
    line-height: 41px;
  }

  .offer-card__text {
    margin-bottom: 44px;
    font-weight: 700;
  }

  .offers .chocolate {
  background-color: rgb(61,18,11);
  background-image: url('../img/stock-chocolate.jpg');

