/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-light-black: #323232;
  --basic-neutral: #5a5a5a;
  --basic: #849d8f;
  --basic: #f8f7f4;
  --basic: #999;
  --basic: #9d8b84;

  --special: #ededed;
  --special: #ffbc9e;
  --special: #e84d37;
  --special: #ecf1ee;
  --special: #d07058;
  --basic-black: #000000;
  --special: #ababab;
  }

  /* Global */

  .page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: #849d8f;
    background-image: url("../img/slider-1.png");
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }

  img {
   max-width: 100%;
   height: auto;
  }

  /* Main navigation */

  .header__nav {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: transparent;
  }

  .header__logo {
    width: 154px;
    height: 64px;
    margin-right: 9px;
  }

  .header__left {
    color: var(--basic-white);
  }

  .header__left-list {
    list-style: none;
  }



  /* Offers */

  .offers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 34px;
    font-size: 18px;
  }

  .banner {
    padding: 20px;
    width: 560px;
    min-height: 229px;
    border-radius: 14px;
  }

  .offers__title {
    margin-top: -4px;
    margin-bottom: -3px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
  }

  .offers__text {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 44px;
  }

  .offers__raspberries,
  .offers__chocolate {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .offers__chocolate {
    background-color: #58321f;
    background-image: url('../img/chocolate-banner.jpg');
  }

  .offers__raspberries {
    background-color: #aa2a4f;
    background-image: url('../img/raspberries-banner.jpg');
  }

  /* Slider */

  .preview-slider__title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800px;
  }

  .slider__button {
    display: inline-block;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843, #e74a35);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
  }

  .button:hover {
    background: linear-gradient(to bottom, #f58669, #ec6f5e);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }

