/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #323232;
  --basic-neutral: #5a5a5a;
  --basic: #849D8F;
  --basic: #F8F7F4;
  --basic: #999;
  --basic: #9D8B84;

  --special: #EDEDED;
  

}
