/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #323232;
  --basic-neutral: #5a5a5a;
  --basic: #849d8f;
  --basic: #f8f7f4;
  --basic: #999;
  --basic: #9d8b84;

  --special: #ededed;
  --special: #ffbc9e;
  --special: #e84d37;
  --special: #eCF1ee;
  --special: #D07058;
  --special: #000;
  --special: #ABABAB;


}
