/* Variables */

:root {
  --white: #ffffff;
  --black: #000000;
  --night-rider: #323232;
  --zambezi: #5a5a5a;
  --padua: #849d8f;
  --floral-white: #f8f7f4;
  --nobel: #999999;
  --almond-frost: #9d8b84;
  --brown-bramble: #58321f;
  --whisper: #ededed;
  --mandys-pink: #ffbc9e;
  --cinnabar: #e84d37;
  --lily-white: #ecf1ee;
  --japonica: #d07058;
  --dark-grey: #ababab;
  --night-shadz: #aa2a4f;
  --pippin: #fbded7;
  --wax-flower: #f6b5a5;
}

  /* Global */

  .page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--white);
    background-color: var(--padua);
    background-image: url("../img/slider-1.png");
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* Main navigation */

  .header__nav {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--white);
    background-color: transparent;
  }

  .header__logo {
    width: 154px;
    height: 64px;
    margin-right: 9px;
  }

  .header__left {
    color: var(--white);
  }

  .header__left-list {
    list-style: none;
  }

  .header__left-item > a {
    font-weight: 700;
    line-height: 18px;
    color: var(--white);
  }

  .header__left-item > a:hover {
    color: var(--night-rider);
    background-color: var(--white);
  }

  .site-navigation-item > a:active {
    color: var(--night-rider);
    background-color: var(--whisper);
  }

  .header__left-item > a:focus {
    color:var(--white);
    background-color: var(--japonica);
  }

  .header__left-dropdown dropdown {
    background-color: var(--white);
  }

  .dropdown__list {
    list-style: none;
  }

  .header__left-dropdown a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: var(--night-rider);
    border: none;
  }

  .dropdown__item:first-child a {
    font-weight: 700;
  }

  .dropdown__item a:hover {
    background-color: var(--pippin);
  }

  .dropdown__item a:focus {
    background-color: var(--japonica);
  }

  .dropdown__item a:active {
    background-color: var(--wax-flower);
  }

  header__contacts
  /* Offers */

  .offers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 34px;
    font-size: 18px;
  }

  .banner {
    padding: 20px;
    width: 560px;
    min-height: 229px;
    border-radius: 14px;
  }

  .offers__title {
    margin-top: -4px;
    margin-bottom: -3px;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
  }

  .offers__text {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 44px;
  }

  .offers__raspberries,
  .offers__chocolate {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .offers__chocolate {
    background-color: var(--brown-bramble);
    background-image: url('../img/chocolate-banner.jpg');
  }

  .offers__raspberries {
    background-color: var(--night-shadz);
    background-image: url('../img/raspberries-banner.jpg');
  }

  /* Buttons */

  .button {
    font: inherit;
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    border-radius: 70px;
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border: none;
  }


  .button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 1px 2px 0px #AC1000;
  }

  .button:focus {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px 0px #942718 inset;
  }
  .button:active {
    background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  }

  /* Contacts */

  .contacts__link {
    color: var(--night-rider);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }

  .footer {
    color: var(--white);

  }
